.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #00d0ff;
  color: white;
}

.App-link {
  color: #61dafb;
}


.Card-styling{
  padding: 4px 8px;
 background-image: url();
  margin: 100px 400px;
}
.image-styling{
  width: 150px;
}
.img-style{
  cursor: pointer;
  padding-top: 12px;
  width: 220px;
}
.tile-style{
color: rgb(10, 60, 239);
font-size: 20px;
}
.div-style{
  color: rgb(255, 0, 0);
  font-size: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: white; 
   box-shadow: 0px 0px 40px rgb(255, 255, 255);
 border-radius: 5px;
    margin: 4px;  
}
.title-style{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 22px;
background-color: rgb(128, 100, 214);
color: rgb(0, 0, 0);
margin-left: 140px;
margin-right: 140px;

}
.Tit-style{
  margin-top: -16px;
  margin-left: 331px;
  margin-right: 331px;
 background-color: rgb(128, 100, 214);
}
.title-styling{
  color: rgb(0, 217, 255);
font-size: 25px;
}
.header-style{
  font-size: 30px;
  color: rgb(0, 217, 255);
}
.Header-style{
  background-color: rgb(230, 230, 230);
  padding-bottom: 120px;
}
.img-style{
  position: absolute;
  top: 42px;
  left: 100px;
  width: 60px;
}
.inp{
position: absolute;
top: 50px;
left: 200px;
width: 250px;
height: 40px;
}
.inp1{
  position: absolute;
  top: 50px;
  left: 500px;
  width: 320px;
  height: 40px;
}
.icon-style{
  font-size: 28px;
  top: 40px;
  right: 320px;
  position: absolute;
  color: rgb(51, 50, 50);
}
.icon-style1{
  font-size: 28px;
  top: 39.5px;
  right: 260px;
  position: absolute;
  color: rgb(51, 50, 50);
}
.img-st{
  top: 57px;
  right: 195px;
  position: absolute;
  border-radius: 50%;
  width: 30px;
}
.sell-tyle{
  cursor: pointer;
  top: 53px;
  right: 75px;
  position: absolute;
  width: 60px;
}
.pro-style{

  font-size: 16px;
width: 40px;
position: absolute;
top: -86px;
right: 570px;
}
.img-sty{

  width: 40px;
  position: absolute;
  top: -48px;
  right: 770px;
}
.mo-style{

  font-size: 16px;
width: 40px;
position: absolute;
top: -84px;
right: 670px;
}
.logo-style{
background-color: gray;
  width: 45px;
  top: 50px;
  right: 35px;
  position: absolute;
  cursor: pointer;
}
.img-width{
  width: 600px;
height: 400px;
}
.dash-style{
  cursor: pointer;
  border: 4px solid rgb(21, 20, 20);
  padding: 4px;
position: absolute;
font-family:Georgia, 'Times New Roman', Times, serif;
top: -14px;
left: 580px;
color: rgb(170, 0, 255);
}
.card-stylish{
padding: 10px;
padding-bottom: 180px;
  margin-top: 0px;
  margin-left: 331px;
  margin-right: 331px;
 background-color: rgb(51, 0, 255); 
}
.btn-style{
font-size: 18px;
  color: rgb(0, 0, 0);
font-family: fantasy;
  height: 30px;
  width: 80px;
  margin-top: 40px;
  margin-left: 240px;
}